<!doctype html>
{% extends "base.html" %}

{% block metanav %}
  <a href="{{ url_for('feed.home') }}">Feed Home</a>
  &nbsp; 
  <a href="{{ url_for('users.logout') }}">Logout</a>
{% endblock %}


{% block content %}
<table class="table table-hover">
  <tr>
    <td>Name</td>
    <td>{{user.name}}</td>
  </tr>
  <tr class="success">
    <td>Email</td>
    <td>{{user.email}}</td>
  </tr>
  <tr class="warning">
    <td>Password</td>
    <td>******</td>
  </tr>
  <tr>
    <td>Gender</td>
    <td>{{user.gender}}</td>
  </tr>
  <tr>
    <td>Role</td>
    <td>{{user.getRole()}}</td>
  </tr>
  <tr>
    <td>Status</td>
    <td>{{user.getStatus()}}</td>
  </tr>
</table>


{% endblock %}
